[tool.black]
line-length = 79
target-version = ['py38']
exclude = '''
/(
 # directorios a ignorar
 \.eggs
 | \.git
 | \.hg
 | \.mypy_cache
 | \.tox
 | \.venv
 | build
 | dist
 | __pycache__
)/
'''

[tool.isort]
profile = "black"
known_third_party = ["flask", "sqlalchemy"]

[tool.pyright]
venvPath = "src/backend"
venv = "venv"
pythonVersion = "3.11"
typeCheckingMode = "basic"
reportMissingModuleSource = false
reportMissingImports = true