# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Dependencias de Node
node_modules/

# Entorno virtual
venv/

# Archivos de configuración local
instance/

# Archivos de base de datos temporales
*.sqlite3